<section class="education-section">
  <div class="main-container">
    <h1 data-aos="fade-right" data-aos-duration="1500" style="margin-bottom: 1rem; font-weight: bold; di"><span>My</span> Education</h1>
    <div class="education-container" data-aos="fade-up" data-aos-duration="1500">
      <div class="education-item">
        <div class="education-year">2019</div>
        <div class="education-details">
          <h3 class="education-degree">High School Diploma in Computer Science</h3>
          <p class="education-institution">Ibn Arafa Jedaida High School</p>
          <p class="education-description">I successfully completed my baccalaureate with strong academic performance, achieving a commendable overall score</p>
        </div>
      </div>
      <div class="education-item">
        <div class="education-year">2019-2021</div>
        <div class="education-details">
          <h3 class="education-degree">Integrated Preparatory Cycle (MPI)</h3>
          <p class="education-institution">Faculty of Sciences of Tunis</p>
          <p class="education-description">Intensive training in Mathematics, Physics, and Computer Science to prepare for engineering studies</p>
        </div>
      </div>
      <div class="education-item">
        <div class="education-year">2021-2024</div>
        <div class="education-details">
          <h3 class="education-degree">National Engineering Degree in Software Engineering and Information Systems</h3>
          <p class="education-institution">Faculty of Sciences of Tunis</p>
          <p class="education-description">Training in software engineering and information systems, specializing in software architectures, cybersecurity, and managing complex projects</p>
        </div>
      </div>
    </div>
  </div>
</section>
