   <section>
    <div class="main-container">
        <div class="cube" data-aos="zoom-out" data-aos-duration="3000">
          <div class="stage-cube-cont">
            <div class="cubespinner">
              <div class="face1">
                <fa-icon [icon]="faAngular" style="color: #DD0031;"></fa-icon>
              </div>
              <div class="face2">
                <fa-icon [icon]="faLinux" style="color: #fff;"></fa-icon>
              </div>
              <div class="face3">
                <fa-icon [icon]="faDocker" style="color: #28A4D9;"></fa-icon>
              </div>
              <div class="face4">
                <fa-icon [icon]="faJava" style="color: #ca8700;"></fa-icon>
              </div>
              <div class="face5">
                <fa-icon [icon]="faAws" style="color: #EFD81D;"></fa-icon>
              </div>
              <div class="face6">
                <fa-icon [icon]="faGit" style="color: #EC4D28;"></fa-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
            <h1 data-aos="fade-left" data-aos-duration="1500" data-aos-delay="700">About <span>Me</span></h1>
            <div data-aos="flip-down" data-aos-duration="1500" data-aos-delay="1100"><p style="text-indent: 2rem;text-align: justify;">Throughout my academic projects and internships, I’ve worked extensively with Spring Boot and Angular, developing applications using both monolithic and microservices architectures. I’ve ensured security best practices, implementing authentication and authorization using JWT and Spring Security, and protecting against CSRF attacks. I also focus on performance optimization, leveraging DTOs, pagination, reducing joins, and ensuring loose coupling between components.</p>
              <p style="text-indent: 2rem;text-align: justify;">In addition to this, I have knowledge in cloud computing (AWS and Azure), Ansible for configuration management, Terraform for infrastructure as code (IaC), Docker for containerization, as well as GitHub and GitLab for version control, and Jenkins for automating pipelines.
              </p>
            </div>
        </div>
    </div>
</section>


   
   
   
   
   
   
   
   
   
   
   