<section>
    <div class="main-container">
        <h1 data-aos="fade-right" data-aos-duration="1500" style=" font-weight: bold;"><span>My</span> Projects</h1>
        <div class="skills-container" data-aos="fade-left" data-aos-duration="1500">
            <div  class="ticket" *ngFor="let project of projects">
                <div class="project" (click)="openDialog(project)">
                    <div class="image-slider">
                      <img *ngFor="let image of project.images; let i = index"
                           [src]="image"
                           [class.active]="isActiveImage(project.id, i)"
                           alt="Screenshot of {{ project.name }}">
                    </div>
                    <h3>{{ project.name }}</h3>
                </div>
            </div>
          </div>
    </div>
</section>

  